In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import sklearn as skl

In [3]:
dataset = pd.read_csv('info.csv',encoding='ISO-8859-1')

In [4]:
dataset

              mac_address       date  day  hour
0       6c:a6:04:8c:a7:16  2022-4-13  Wed     9
1       dc:9b:d6:4e:c8:e0  2022-4-13  Wed     9
2       6c:a6:04:8c:a7:16  2022-4-13  Wed    10
3       6c:a6:04:8c:a7:16  2022-4-13  Wed    10
4       22:a5:89:b3:9e:fb  2022-4-13  Wed    10
...                   ...        ...  ...   ...
143577  a0:51:0b:4d:3e:ab   2022-5-3  Tue    10
143578  fe:c9:62:c2:d5:ad   2022-5-3  Tue    10
143579  4e:ac:e3:4b:70:5b   2022-5-3  Tue    10
143580  34:de:1a:98:af:8a   2022-5-3  Tue    10
143581  4e:ad:a6:7d:87:b4   2022-5-3  Tue    10

[143582 rows x 4 columns]

In [5]:
dataset.isnull().sum()

mac_address    0
date           0
day            0
hour           0
dtype: int64

In [6]:
dataset.nunique()

mac_address    111629
date               21
day                 7
hour               24
dtype: int64

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143582 entries, 0 to 143581
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   mac_address  143582 non-null  object
 1   date         143582 non-null  object
 2   day          143582 non-null  object
 3   hour         143582 non-null  int64
dtypes: int64(1), object(3)
memory usage: 4.4+ MB

In [14]:
dataset.describe(include=object)

              mac_address                 full_date     day
count              143586                    143586  143586
unique             111629                     21035       7
top     34:de:1a:98:af:8a  Fri Apr 29 21:53:05 2022     Fri
freq                 5830                        27   29807

In [18]:
dataset['day_count'] = dataset.groupby(['day']).size()